html {
	height: 100%;
	background-color: rgb(7, 25, 47);
}
body{
	width:100%;
	margin:0;
	height: 100%;
}
.content{
	position: absolute;
	top: 40%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

	max-width: 80%;
	margin-left:auto;
	margin-right:auto;
}
.name{
	text-align: center;
	font-family: 'Tangerine', cursive;
	font-size: 15vmin;
	font-weight: lightest !important;
	color:white;
	margin-bottom: 5vmin;
}
.emoji{
	text-align: center;
	margin-top: 20px;
}
i{
	font-style: normal;
	margin: 0.5vmin;
}
.desc{
	margin-top:0;
	color:rgb(84, 97, 108);
	font-family: 'Source Code Pro', monospace;
	font-size: 3vmin;
	text-align: center;
}
.bar{
	text-align:center;
	margin-top: 20px;
}
.router{
	font-size: 3vmin;
	margin: 1% 1%;
	font-family: 'Source Code Pro', monospace;
	font-style: normal;
}
a{
	text-decoration: none;
}
.zoom {
	transition: transform .01s;
	display: inline-block;
	margin: 20px;
}
.zoom:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}

@media only screen and (max-width: 800px) {
	.content{
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	.name {
		font-size: 11vmin;
	}
	.desc{
		font-size: 4vmin;
	}
	.bar i{
		font-size: 3vmin;
		display:inline-block;
	}
	.zoom {
		margin: 10px;
	}
}
